<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>thinkphp5博客</title>
    <!--STYLESHEET-->
    <!--Open Sans Font [ OPTIONAL ]-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <link href="__ADMIN__/css/bootstrap.min.css" rel="stylesheet">
    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="__ADMIN__/css/nifty.min.css" rel="stylesheet">
    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="__ADMIN__/css/nifty-demo-icons.min.css" rel="stylesheet">
    <!--Demo [ DEMONSTRATION ]-->
    <link href="__ADMIN__/css/nifty-demo.min.css" rel="stylesheet">
    <link href="__ADMIN__/css/themify-icons.min.css" rel="stylesheet">
    
    <link href="__ADMIN__/css/font-awesome.min.css" rel="stylesheet">
    <!--Magic Checkbox [ OPTIONAL ]-->
    <link href="__ADMIN__/plugins/magic-check/css/magic-check.min.css" rel="stylesheet">
    <!--JAVASCRIPT-->
    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="__ADMIN__/plugins/pace/pace.min.css" rel="stylesheet">
    <!--自定义style文件-->
    <link href="__ADMIN__//css/style.css" rel="stylesheet">

    <script src="__ADMIN__/plugins/pace/pace.min.js"></script>
    <!--jQuery [ REQUIRED ]-->
    <script src="__ADMIN__/js/jquery-2.2.4.min.js"></script>
    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="__ADMIN__/js/bootstrap.min.js"></script>
    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="__ADMIN__/js/nifty.min.js"></script>

    <script src="__ADMIN__/js/demo/nifty-demo.min.js"></script>
     <link href="__ADMIN__/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!--自定义文件-->
    <script src="__PLUGINS__/layer/layer.js"></script>
    <script src="__ADMIN__/js/public.js"></script>

</head>